@import 'base/variables'; 

head {
  font-size: 10px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

@import 'blocks/promo';
@import 'blocks/header';


@import 'base/media';