head {
  font-size: 10px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-size: 20px;
  font-family: 'Calibri', sans-serif;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body{
  background: url('../img/bg/bg-body.jpg') center center/cover no-repeat;
}
.navbar{
  padding-top: 1.7rem;
  width: 100%;

}
.navbar a.phone{
  font-size: .9em;
  line-height: normal;
  font-weight: 700;
  color: #141419;
  text-decoration: none;
}
.navbar-brand{
  width: 150px;
  height: 66px;

}
.navbar-nav {
  width: 100%;
  justify-content: center;
  justify-content: space-around;
}
.navbar-nav li{
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: #616161;
}
.navbar-nav li a{
  font-size: .9em;
  line-height: normal;
  font-weight: 400;
  color: #616161;
  text-decoration: none;
}
.navbar-nav li.active a{
  color: #000000;
}
/*Секция promo*/
.promo{
  margin-top: 4.5rem;
  margin-bottom: 12.9rem;
}
.promo h1.title{
  font-size: 2.6em;
  line-height: normal;
  font-weight: 700;
  color: #141419;

}
.promo .descr{
  font-size: 1.2em;
  line-height: 1.2;
  font-weight: 400;
  color: #616161;
  margin-bottom: 2.2rem;
}
.promo .descr span{
  font-size: 1em;
  line-height: 1.2;
  font-weight: 700;
  color: #fb973b;
}
.promo .form{
  display: flex;
  width: 195px;
  height: 56px;
}
.promo .form input{
  width: 195px;
  height: 56px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: .9em;
  background: #f8f8f8;
  border: 1px solid #e1e1e1;
}
.holder{
  position: relative;
}
label {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #616161;
  font-size: .9em;
  margin: 0;
  cursor: pointer;

  font-family: 'SF UI Display';
  font-weight: 500;
  white-space: nowrap;
}
label span{
  color: #141419;
  color: #000000;
}
.promo .form .btn{
  display: block;
  width: 195px;
  height: 56px;
  text-align: center;
  background: #fb973b;
  border-radius: 0;
  font-size: .9em;
  color: #ffffff;

  font-family: 'SF UI Display';
  font-weight: 500;
}

/*Секция description*/
.description{
  height: 1165px;
}