head {
  font-size: 10px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-size: 20px;
  font-family: 'Calibri', sans-serif;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body{
  background: url('../img/bg/bg-body.jpg') center center/cover no-repeat;
}

.title{
  line-height: normal;
  font-weight: 700;
  color: #141419;
  font-size: 2.5em;
  text-align: center;
  

  background-image: linear-gradient(0, transparent 0.22em, orange 0.22em, orange 0.35em, transparent 0.35em);
  display: inline;
}
.descr{
  font-size: 1.2em;
  line-height: normal;
  font-weight: 400;
  color: #616161;
  padding-top: .7rem;
  margin-bottom: 2.6rem;
}
.descr span{
  font-weight: 700;
  color: #fb973b;
}

.navbar{
  padding-top: 1.7rem;
  width: 100%;

}
.navbar a.phone{
  font-size: .9em;
  line-height: normal;
  font-weight: 700;
  color: #141419;
  text-decoration: none;
}
.navbar-brand{
  width: 150px;
  height: 66px;

}
.navbar-nav {
  width: 100%;
  justify-content: center;
  justify-content: space-around;
}
.navbar-nav li{
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: #616161;
}
.navbar-nav li a{
  font-size: .9em;
  line-height: normal;
  font-weight: 400;
  color: #616161;
  text-decoration: none;
}
.navbar-nav li.active a{
  color: #000000;
}
/*Секция promo*/
.promo{
  margin-top: 4.5rem;
  margin-bottom: 12.9rem;
  min-height: 380px;
}

.promo .form{
  display: flex;
  width: 195px;
  height: 56px;
}
.promo .form input{
  width: 195px;
  height: 56px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: .9em;
  background: #f8f8f8;
  border: 1px solid #e1e1e1;
}
.holder{
  position: relative;
}
label {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #616161;
  font-size: .9em;
  margin: 0;
  cursor: pointer;

  font-family: 'SF UI Display';
  font-weight: 500;
  white-space: nowrap;
}
label span{
  color: #141419;
  color: #000000;
}
.promo .form .btn{
  display: block;
  width: 195px;
  height: 56px;
  text-align: center;
  background: #fb973b;
  border-radius: 0;
  font-size: .9em;
  color: #ffffff;

  font-family: 'SF UI Display';
  font-weight: 500;
}

/*Секция description*/
.description{
  margin-bottom: 8.35rem;
  min-height: 570px;
}
.description .title__wrapper{
  text-align: center;
}
.description .descr{
  text-align: center;
}
.description .description-img img{
  width: 100%;
  margin-bottom: 2rem;
}
.description .description-item .description-icon{
  width: 20px;
  height: 62px;
  margin: 15px auto;
}
.description .description-item .description-icon img{
  height: 100%;
}
.description .description-item .description-icon_mini{
  height: 41px;
  margin: 0 auto 15px;
}
.description .description-item .description-icon_mini img{
  height: 100%;
}
.description .description-item .description-text{
  font-size: .75em;
  line-height: normal;
  font-weight: 400;
  color: #141419;
  text-align: center;
}
/*Секция partners*/
.partners{
  margin-bottom: 4.2rem;
  min-height: 390px;
}
.partners .partners-img_1{
  width: 241px;
  height: 53px;
  margin: 9px auto 69px;
}
.partners .partners-img_2{
  width: 245px;
  height: 58px;
  margin: 9px auto 69px;
}
.partners .partners-img_3{
  width: 244px;
  height: 89px;
  margin: 0px auto 69px;
}
.partners .partners-img_4{
  width: 241px;
  height: 80px;
  margin: 0px auto 69px;
}
.partners .partners-img_5{
  width: 241px;
  height: 103px;
  margin: 0 auto;
}
.partners .partners-img_6{
  width: 241px;
  height: 103px;
  margin: auto;
  display: flex;
  align-items: center;
}

.partners .partners-img_1 img, .partners .partners-img_2 img, .partners .partners-img_3 img, .partners .partners-img_4 img, .partners .partners-img_5 img, .partners .partners-img_6 img{
  max-width: 100%;
  max-height: 100%;
}

